<a href="https://colab.research.google.com/github/cyberdreams8/water-quality-analysis-and-prediction-2/blob/main/PDS_waterquality.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Importing the necessary liabraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

##Reading the Dataset

In [103]:
Dataset = pd.read_csv("updated_water_quality_dataset.csv")

In [105]:
Dataset

,Unnamed: 0,Station Code,Station Name,STATE,Temperature Min,Temperature Max,pH Min,pH Max,Conductivity (µmhos/cm) Min,Conductivity (µmhos/cm) Max,Year,Turbidity (NTU),Dissolved Oxygen (mg/L),BOD (mg/L),Nitrate (mg/L),Fecal Coliform (CFU/100mL)
0,0,15.0,"WELL AT KUYYURA, A.P.",ANDHRA PRADESH,23.0,28.0,6.82,7.85,195.0,226.0,2012,37.454012,10.129484,1.577759,29.050812,1412.971270
1,1,16.0,WELL AT TADAVAI A.P.,ANDHRA PRADESH,27.0,28.0,7.21,7.72,663.0,1121.0,2012,95.071431,8.080613,5.841307,25.026984,66.345514
2,2,26.0,"WELL AT VIJAYWADA, A.P.",ANDHRA PRADESH,26.0,32.0,7.19,7.39,1601.0,1661.0,2012,73.199394,9.068081,7.469101,48.542370,1134.803164
3,3,27.0,"WELL AT PEDDAVOORA, A.P.",ANDHRA PRADESH,26.0,27.0,7.82,8.80,1420.0,1668.0,2012,59.865848,0.410192,2.937975,6.482520,340.919058
4,4,1513.0,"B W. - KRISHNA MURTHY, D.NO. 48-16-43 AUTONAGA...",ANDHRA PRADESH,25.0,30.0,6.80,7.11,1454.0,1575.0,2012,15.601864,8.653442,7.497186,44.799948,280.725463
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6311,983,2533.0,SURI TOWN NEAR BUS STAND,WEST BENGAL,27.0,30.0,7.20,7.90,358.0,651.0,2021,52.425472,12.805312,9.479319,29.925298,881.957256
6312,984,1773.0,"TANGRA, CALCUTTA , WEST\nBENGAL",WEST BENGAL,28.0,31.0,7.30,7.40,1435.0,1730.0,2021,67.072733,8.051576,4.923410,26.380617,1905.876781
6313,985,1774.0,"TOPSIA CALCUTTA, WEST\nBENGAL",WEST BENGAL,29.0,31.0,7.30,7.30,1705.0,1921.0,2021,26.943945,10.334687,9.868643,14.649845,917.380434
6314,986,2546.0,ULUBERIA COLLEGE AT HOWRAH,WEST BENGAL,26.0,30.0,7.20,7.60,909.0,1090.0,2021,27.752280,6.861669,1.511552,13.121499,1060.164268
6315,987,2535.0,VISVA BHARATI,WEST BENGAL,30.0,31.0,7.90,8.20,370.0,437.0,2021,93.341313,0.404011,7.460468,29.001240,1609.550020

In [106]:
# Calculate the mean values
Dataset['pH Mean'] = (Dataset['pH Min'] + Dataset['pH Max']) / 2
Dataset['Conductivity (µmhos/cm) Mean'] = (Dataset['Conductivity (µmhos/cm) Min'] + Dataset['Conductivity (µmhos/cm) Max']) / 2
Dataset['Temperature Mean'] = (Dataset['Temperature Min'] + Dataset['Temperature Max']) / 2

# Save the updated file
Dataset.to_csv('water_quality_data_with_means.csv', index=False)

In [108]:
Dataset.columns

Index(['Unnamed: 0', 'Station Code', 'Station Name', 'STATE',
       'Temperature Min', 'Temperature Max', 'pH Min', 'pH Max',
       'Conductivity (µmhos/cm) Min', 'Conductivity (µmhos/cm) Max', 'Year',
       'Turbidity (NTU)', 'Dissolved Oxygen (mg/L)', 'BOD (mg/L)',
       'Nitrate (mg/L)', 'Fecal Coliform (CFU/100mL)', 'pH Mean',
       'Conductivity (µmhos/cm) Mean', 'Temperature Mean'],
      dtype='object')

In [142]:
Dataset

,Unnamed: 0,Station Code,Station Name,STATE,Temperature Min,Temperature Max,pH Min,pH Max,Conductivity (µmhos/cm) Min,Conductivity (µmhos/cm) Max,Year,Turbidity (NTU),Dissolved Oxygen (mg/L),BOD (mg/L),Nitrate (mg/L),Fecal Coliform (CFU/100mL),pH Mean,Conductivity (µmhos/cm) Mean,Temperature Mean,Potability
0,0,15.0,"WELL AT KUYYURA, A.P.",ANDHRA PRADESH,23.0,28.0,6.82,7.85,195.0,226.0,2012,37.454012,10.129484,1.577759,29.050812,1412.971270,7.335,210.5,25.5,Not Drinkable
1,1,16.0,WELL AT TADAVAI A.P.,ANDHRA PRADESH,27.0,28.0,7.21,7.72,663.0,1121.0,2012,95.071431,8.080613,5.841307,25.026984,66.345514,7.465,892.0,27.5,Not Drinkable
2,2,26.0,"WELL AT VIJAYWADA, A.P.",ANDHRA PRADESH,26.0,32.0,7.19,7.39,1601.0,1661.0,2012,73.199394,9.068081,7.469101,48.542370,1134.803164,7.290,1631.0,29.0,Not Drinkable
3,3,27.0,"WELL AT PEDDAVOORA, A.P.",ANDHRA PRADESH,26.0,27.0,7.82,8.80,1420.0,1668.0,2012,59.865848,0.410192,2.937975,6.482520,340.919058,8.310,1544.0,26.5,Not Drinkable
4,4,1513.0,"B W. - KRISHNA MURTHY, D.NO. 48-16-43 AUTONAGA...",ANDHRA PRADESH,25.0,30.0,6.80,7.11,1454.0,1575.0,2012,15.601864,8.653442,7.497186,44.799948,280.725463,6.955,1514.5,27.5,Not Drinkable
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6311,983,2533.0,SURI TOWN NEAR BUS STAND,WEST BENGAL,27.0,30.0,7.20,7.90,358.0,651.0,2021,52.425472,12.805312,9.479319,29.925298,881.957256,7.550,504.5,28.5,Not Drinkable
6312,984,1773.0,"TANGRA, CALCUTTA , WEST\nBENGAL",WEST BENGAL,28.0,31.0,7.30,7.40,1435.0,1730.0,2021,67.072733,8.051576,4.923410,26.380617,1905.876781,7.350,1582.5,29.5,Not Drinkable
6313,985,1774.0,"TOPSIA CALCUTTA, WEST\nBENGAL",WEST BENGAL,29.0,31.0,7.30,7.30,1705.0,1921.0,2021,26.943945,10.334687,9.868643,14.649845,917.380434,7.300,1813.0,30.0,Not Drinkable
6314,986,2546.0,ULUBERIA COLLEGE AT HOWRAH,WEST BENGAL,26.0,30.0,7.20,7.60,909.0,1090.0,2021,27.752280,6.861669,1.511552,13.121499,1060.164268,7.400,999.5,28.0,Not Drinkable
6315,987,2535.0,VISVA BHARATI,WEST BENGAL,30.0,31.0,7.90,8.20,370.0,437.0,2021,93.341313,0.404011,7.460468,29.001240,1609.550020,8.050,403.5,30.5,Not Drinkable

Example of Thresholds (WHO and general guidelines):
These are examples and may vary based on your local standards.

pH: 6.5 - 8.5


Turbidity: ≤ 5 NTU


Conductivity: ≤ 1500 µS/cm


Chloramines: ≤ 4 mg/L


Trihalomethanes: ≤ 80 µg/L


Summary
Critical Features: pH, turbidity, conductivity, chloramines, and THMs are often considered essential for assessing potability.
Secondary Features: Hardness and sulfate can impact taste and non-health-related qualities but are less critical for immediate safety assessments.



Conclusion
For a robust assessment of water potability, focus primarily on pH, turbidity, conductivity, chloramines, and THMs. Other factors may still be relevant but can be considered supplementary based on local regulations and health standards.
```
# This is formatted as code
```

In [130]:
# Define threshold conditions for potability
conditions = (
    (Dataset['pH Mean'] >= 6.5) & (Dataset['pH Mean'] <= 8.5) &
    (Dataset['Turbidity (NTU)'] <= 5) &
    (Dataset['Dissolved Oxygen (mg/L)'] >= 5) &
    (Dataset['BOD (mg/L)'] <= 3)
)

# Assign "Drinkable" and "Not Drinkable" based on conditions
Dataset['Potability'] = conditions.replace({True: 'Drinkable', False: 'Not Drinkable'})

# Save the updated file
Dataset.to_csv('water_quality_data_with_potability.csv', index=False)

In [131]:
Dataset.head()

,Unnamed: 0,Station Code,Station Name,STATE,Temperature Min,Temperature Max,pH Min,pH Max,Conductivity (µmhos/cm) Min,Conductivity (µmhos/cm) Max,Year,Turbidity (NTU),Dissolved Oxygen (mg/L),BOD (mg/L),Nitrate (mg/L),Fecal Coliform (CFU/100mL),pH Mean,Conductivity (µmhos/cm) Mean,Temperature Mean,Potability
0,0,15.0,"WELL AT KUYYURA, A.P.",ANDHRA PRADESH,23.0,28.0,6.82,7.85,195.0,226.0,2012,37.454012,10.129484,1.577759,29.050812,1412.971270,7.335,210.5,25.5,Not Drinkable
1,1,16.0,WELL AT TADAVAI A.P.,ANDHRA PRADESH,27.0,28.0,7.21,7.72,663.0,1121.0,2012,95.071431,8.080613,5.841307,25.026984,66.345514,7.465,892.0,27.5,Not Drinkable
2,2,26.0,"WELL AT VIJAYWADA, A.P.",ANDHRA PRADESH,26.0,32.0,7.19,7.39,1601.0,1661.0,2012,73.199394,9.068081,7.469101,48.542370,1134.803164,7.290,1631.0,29.0,Not Drinkable
3,3,27.0,"WELL AT PEDDAVOORA, A.P.",ANDHRA PRADESH,26.0,27.0,7.82,8.80,1420.0,1668.0,2012,59.865848,0.410192,2.937975,6.482520,340.919058,8.310,1544.0,26.5,Not Drinkable
4,4,1513.0,"B W. - KRISHNA MURTHY, D.NO. 48-16-43 AUTONAGA...",ANDHRA PRADESH,25.0,30.0,6.80,7.11,1454.0,1575.0,2012,15.601864,8.653442,7.497186,44.799948,280.725463,6.955,1514.5,27.5,Not Drinkable

In [132]:
Dataset.tail()

,Unnamed: 0,Station Code,Station Name,STATE,Temperature Min,Temperature Max,pH Min,pH Max,Conductivity (µmhos/cm) Min,Conductivity (µmhos/cm) Max,Year,Turbidity (NTU),Dissolved Oxygen (mg/L),BOD (mg/L),Nitrate (mg/L),Fecal Coliform (CFU/100mL),pH Mean,Conductivity (µmhos/cm) Mean,Temperature Mean,Potability
6311,983,2533.0,SURI TOWN NEAR BUS STAND,WEST BENGAL,27.0,30.0,7.2,7.9,358.0,651.0,2021,52.425472,12.805312,9.479319,29.925298,881.957256,7.55,504.5,28.5,Not Drinkable
6312,984,1773.0,"TANGRA, CALCUTTA , WEST\nBENGAL",WEST BENGAL,28.0,31.0,7.3,7.4,1435.0,1730.0,2021,67.072733,8.051576,4.923410,26.380617,1905.876781,7.35,1582.5,29.5,Not Drinkable
6313,985,1774.0,"TOPSIA CALCUTTA, WEST\nBENGAL",WEST BENGAL,29.0,31.0,7.3,7.3,1705.0,1921.0,2021,26.943945,10.334687,9.868643,14.649845,917.380434,7.30,1813.0,30.0,Not Drinkable
6314,986,2546.0,ULUBERIA COLLEGE AT HOWRAH,WEST BENGAL,26.0,30.0,7.2,7.6,909.0,1090.0,2021,27.752280,6.861669,1.511552,13.121499,1060.164268,7.40,999.5,28.0,Not Drinkable
6315,987,2535.0,VISVA BHARATI,WEST BENGAL,30.0,31.0,7.9,8.2,370.0,437.0,2021,93.341313,0.404011,7.460468,29.001240,1609.550020,8.05,403.5,30.5,Not Drinkable

##Sanity Check of Data

In [133]:
Dataset.shape

(6316, 20)

In [134]:
Dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6316 entries, 0 to 6315
Data columns (total 20 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Unnamed: 0                    6316 non-null   int64
 1   Station Code                  6240 non-null   float64
 2   Station Name                  6267 non-null   object
 3   STATE                         6241 non-null   object
 4   Temperature Min               5818 non-null   float64
 5   Temperature Max               5818 non-null   float64
 6   pH Min                        6195 non-null   float64
 7   pH Max                        6195 non-null   float64
 8   Conductivity (µmhos/cm) Min   6124 non-null   float64
 9   Conductivity (µmhos/cm) Max   6124 non-null   float64
 10  Year                          6316 non-null   int64
 11  Turbidity (NTU)               6316 non-null   float64
 12  Dissolved Oxygen (mg/L)       6316 non-null   float64
 13  BOD (mg/L)                    6316 non-null   float64
 14  Nitrate (mg/L)                6316 non-null   float64
 15  Fecal Coliform (CFU/100mL)    6316 non-null   float64
 16  pH Mean                       6195 non-null   float64
 17  Conductivity (µmhos/cm) Mean  6124 non-null   float64
 18  Temperature Mean              5818 non-null   float64
 19  Potability                    6316 non-null   object
dtypes: float64(15), int64(2), object(3)
memory usage: 987.0+ KB

In [135]:
#finding missing values
Dataset.isnull().sum()

Unnamed: 0                        0
Station Code                     76
Station Name                     49
STATE                            75
Temperature Min                 498
Temperature Max                 498
pH Min                          121
pH Max                          121
Conductivity (µmhos/cm) Min     192
Conductivity (µmhos/cm) Max     192
Year                              0
Turbidity (NTU)                   0
Dissolved Oxygen (mg/L)           0
BOD (mg/L)                        0
Nitrate (mg/L)                    0
Fecal Coliform (CFU/100mL)        0
pH Mean                         121
Conductivity (µmhos/cm) Mean    192
Temperature Mean                498
Potability                        0
dtype: int64

In [136]:
#finding missing values in percentage
Dataset.isnull().sum()/Dataset.shape[0]*100

Unnamed: 0                      0.000000
Station Code                    1.203293
Station Name                    0.775807
STATE                           1.187460
Temperature Min                 7.884737
Temperature Max                 7.884737
pH Min                          1.915769
pH Max                          1.915769
Conductivity (µmhos/cm) Min     3.039899
Conductivity (µmhos/cm) Max     3.039899
Year                            0.000000
Turbidity (NTU)                 0.000000
Dissolved Oxygen (mg/L)         0.000000
BOD (mg/L)                      0.000000
Nitrate (mg/L)                  0.000000
Fecal Coliform (CFU/100mL)      0.000000
pH Mean                         1.915769
Conductivity (µmhos/cm) Mean    3.039899
Temperature Mean                7.884737
Potability                      0.000000
dtype: float64

In [137]:
#finding duplicates
Dataset.duplicated().sum()

0

In [138]:
#identifying garbage values
for i in Dataset.select_dtypes(include='object').columns:
  print(Dataset[i].value_counts())
  print("***"*10)

Station Name
BEGUSARAI                                                                                    10
PATNA                                                                                        10
FULBARI BARRAGE                                                                               9
NANGAL, PUNJAB                                                                                9
VISVA BHARATI                                                                                 9
                                                                                             ..
HAND PUMP WATER NEAR D.M OFFICE, MADHEPURA                                                    1
HAND PUMP WATER AT COLLECTRIATE OFFICE, MADHUBANI                                             1
TAP WATER INSIDE THE CAMPUS OF TOURIST CAFETERIA,\nNALANDA                                    1
HAND PUMP WATER AT CIVIL COURT, NALANDA                                                       1
GROUND WATER AT BHAGWAN\nINDUSTRIAL AREA- 2,\nSIKANDERPUR, LAKHESWARI,\nROORKEE, HARIDWAR     1
Name: count, Length: 3522, dtype: int64
******************************
STATE
RAJASTHAN               585
WEST BENGAL             461
GUJARAT                 459
BIHAR                   350
HIMACHAL PRADESH        334
ASSAM                   326
ODISHA                  276
MAHARASHTRA             266
MADHYA PRADESH          247
KERALA                  235
ANDHRA PRADESH          229
TRIPURA                 219
UTTAR PRADESH           213
PUNJAB                  188
LAKSHADWEEP             143
Rajasthan               140
PONDICHERRY             135
TELANGANA               115
Bihar                   110
DELHI                   109
MIZORAM                 108
UTTARAKHAND              87
Maharashtra              73
Kerala                   66
Uttar Pradesh            64
Assam                    62
GOA                      57
MEGHALAYA                56
CHHATTISGARH             52
JAMMU & KASHMIR          51
DAMAN & DIU              49
DADRA & NAGAR HAVELI     47
CHANDIGARH               41
TAMIL NADU               41
NAGALAND                 40
Madhya Pradesh           29
Gujarat                  25
Lakshadweep              23
PUDUCHERRY               22
MANIPUR                  20
Goa                      18
Chhattisgarh             16
Odisha                   15
KARNATAKA                 8
Dadra & Nagar Haveli      7
Meghalaya                 7
Jammu & Kashmir           4
Mizoram                   4
JHARKHAND                 3
HARYANA                   3
Uttarakhand               1
Daman & Diu               1
UTTRAKHAND                1
Name: count, dtype: int64
******************************
Potability
Not Drinkable    6288
Drinkable          28
Name: count, dtype: int64
******************************

##Exploratory Data Analysis (EDA)

In [139]:
Dataset.columns

Index(['Unnamed: 0', 'Station Code', 'Station Name', 'STATE',
       'Temperature Min', 'Temperature Max', 'pH Min', 'pH Max',
       'Conductivity (µmhos/cm) Min', 'Conductivity (µmhos/cm) Max', 'Year',
       'Turbidity (NTU)', 'Dissolved Oxygen (mg/L)', 'BOD (mg/L)',
       'Nitrate (mg/L)', 'Fecal Coliform (CFU/100mL)', 'pH Mean',
       'Conductivity (µmhos/cm) Mean', 'Temperature Mean', 'Potability'],
      dtype='object')

In [140]:
#descriptive statistics
columns= ['Turbidity (NTU)', 'Dissolved Oxygen (mg/L)', 'BOD (mg/L)',
       'Nitrate (mg/L)', 'Fecal Coliform (CFU/100mL)', 'pH Mean',
       'Conductivity (µmhos/cm) Mean', 'Temperature Mean']
selected_data = Dataset[columns]
selected_data.describe().T

,count,mean,std,min,25%,50%,75%,max
Turbidity (NTU),6316.0,49.672388,28.940444,0.001163,24.449012,49.721163,74.754282,99.971767
Dissolved Oxygen (mg/L),6316.0,6.940016,4.021628,0.000740,3.498504,6.877300,10.421950,13.995425
BOD (mg/L),6316.0,5.543974,2.595549,1.002272,3.293056,5.569575,7.794353,9.999323
Nitrate (mg/L),6316.0,25.404836,14.452406,0.002406,12.972604,25.549219,37.727639,49.995049
Fecal Coliform (CFU/100mL),6316.0,986.829184,572.995044,0.134995,490.677710,986.190223,1479.140006,1999.464169
pH Mean,6195.0,7.393284,4.462631,3.500000,7.050000,7.400000,7.750000,355.000000
Conductivity (µmhos/cm) Mean,6124.0,1515.958749,3336.628170,0.000000,367.500000,797.250000,1555.000000,72683.000000
Temperature Mean,5818.0,26.209694,4.405496,0.000000,24.000000,27.000000,29.000000,67.000000

In [141]:
selected_data2 = Dataset[['STATE','Potability']]
selected_data2.describe().T

           count unique            top  freq
STATE       6241     53      RAJASTHAN   585
Potability  6316      2  Not Drinkable  6288

In [ ]:
#histograms to unserstand the distribution